/*********************************************
 * GLOBAL
 *********************************************/

.reveal {
  color: rgb(52,73,94); }

.reveal .slides {
  text-align: left; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: rgb(52,73,94); }

.reveal h1 {
  font-size: 1.8em;
  padding-bottom: 1rem;
  border-bottom: 0.7rem solid #3498db; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  color: #3498db;
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em;
  text-transform: none;
  display: inline-block;
  border-bottom: 6px solid #3498db; }

/*********************************************
 * LINKS
 *********************************************/

.reveal a {
  color: #3498db; }

/*********************************************
 * CODE
 *********************************************/

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: none; }

/*********************************************
 * LISTS
 *********************************************/

.reveal ol,
.reveal dl,
.reveal ul {
  display: block; }

/*********************************************
* IMAGES
*********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; }

/*********************************************
* NAVIGATION CONTROLS
*********************************************/
.reveal .controls {
  color: #3498db; }

/*********************************************
* PROGRESS BAR
*********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #3498db; }

/*********************************************
 * CUSTOM STYLES
 *********************************************/

.reveal .demo {
  border: 4px solid #dee2e6;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.reveal .demo p:first-child {
  margin-top: 0; }

.reveal .demo p:last-child {
  margin-bottom: 0; }

.reveal .progress {
  height: 6px; }

.reveal pre code {
  position: relative;
  font-size: 1.6rem;
  line-height: 3rem; }

.reveal pre code::before {
  position: absolute;
  top: 0.35rem;
  right: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ccc; }

.reveal pre code.html::before { content: "HTML" }
.reveal pre code.css::before { content: "CSS" }
.reveal pre code.javascript::before { content: "JS" }

.reveal code {
  background: rgba(0, 0, 0, 0.02312);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: rgb(52, 73, 94);
  font-size: 2.2rem;
  padding: 0 0.5rem; }

.reveal .tip {
  position: relative;
  background: #f8f8f8;
  padding: 1.2rem 2rem 1.2rem 2.2rem;
  margin: 2rem 0; }

.reveal .tip p:first-child { margin-top: 0 }
.reveal .tip p:last-child { margin-bottom: 0 }

.reveal .tip-warn { border-left: 8px solid #f66 }
.reveal .tip-info { border-left: 8px solid #3498db }

.reveal .tip::before {
  position: absolute;
  left: -24px;
  top: 24px;
  color: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600; }

.reveal .tip-warn::before {
  content: "!";
  background: #f66; }

.reveal .tip-info::before {
  content: "?";
  background: #3498db; }

.reveal .demo tr,
.reveal .demo th,
.reveal .demo td {
  border: 1px solid rgb(52,73,94); }

.reveal section img {
  display: block;
  margin: auto;
  max-width: 700px; }

.reveal small { vertical-align: middle }

.reveal button.btn {
	background: #3498db;
	border: 1px solid #3498db;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 2px; }

.reveal .slide-number {
  left:0;
  right: auto;
  font-size: 0.6em;
  padding: 0.3em 0.5em;
}
